In [2]:
import pandas as pd

In [3]:
transactions = pd.read_csv("project_transactions.csv")

In [4]:
# Use the following snippet to create a Date Column then drop. Then drop the `DAY` column.

transactions = (transactions
                .assign(date = 
                        (pd.to_datetime("2016", format='%Y') 
                        + pd.to_timedelta(transactions["DAY"].sub(1).astype(str) + " days"))
                       )
                .drop(["DAY"], axis=1)
               )

In [5]:
transactions.head()

,household_key,BASKET_ID,PRODUCT_ID,QUANTITY,SALES_VALUE,STORE_ID,RETAIL_DISC,WEEK_NO,COUPON_DISC,COUPON_MATCH_DISC,date
0,1364,26984896261,842930,1,2.19,31742,0.00,1,0.0,0.0,2016-01-01
1,1364,26984896261,897044,1,2.99,31742,-0.40,1,0.0,0.0,2016-01-01
2,1364,26984896261,920955,1,3.09,31742,0.00,1,0.0,0.0,2016-01-01
3,1364,26984896261,937406,1,2.50,31742,-0.99,1,0.0,0.0,2016-01-01
4,1364,26984896261,981760,1,0.60,31742,-0.79,1,0.0,0.0,2016-01-01